.Title {
    font-size: 55px;
    background: linear-gradient(to right, #f3ec78, #af4261);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.vertical-timeline-element--work {
    transition: transform 0.2s ease;
    cursor: pointer;
}

.resume-button {
    width:15%;
    height:45px;
    background: linear-gradient(45deg, #f3ec78, #af4261);
    color: white;
    border: 0cap;
    border-radius: 20px;
    font-size: 25px;
    margin-bottom: 15px;
}

.resume-button:hover {
    opacity: 0.85;
    cursor: pointer;
}

.vertical-timeline-element--work:hover {
    transform: scale(1.1);
}

.vertical-timeline-element-title {
    color:white !important;
}

// Home.scss

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5); // Semi-transparent black overlay
    display: flex;
    justify-content: center;
    align-items: center;
    inset: auto;
}

.modal-content {
    position: absolute;
    inset: auto; // Override the default inset value
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    max-width: 400px; // Adjust the max-width as needed
    left: 50%; // Position the modal horizontally centered
    top: 50%; // Position the modal vertically centered
    transform: translate(-50%, -50%); // Center the modal using translate
}

.bullet-list {
    list-style-type: disc; // Use bullet points
    padding-left: 20px; // Add some space to the left of each list item
}

.parent-element .ReactModal__Content ReactModal__Content--after-open {
    position: absolute;
    inset: auto; // Override the default inset value
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    max-width: 400px; // Adjust the max-width as needed
    left: 50%; // Position the modal horizontally centered
    top: 50%; // Position the modal vertically centered
    transform: translate(-50%, -50%); // Center the modal horizontally and vertically
}