.tiles {
    list-style-type: none;
    padding: 0;
    display: flex;
    /* Use flexbox */
    flex-direction: column;
    /* Stack items vertically */
    width: 600px;
    /* Adjust width as needed */
    margin: 0 auto;
    /* Center horizontally */
}

.tiles li {
    margin-bottom: 25px;
    /* Add space between tiles */
}

.movie_url {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.tiles li:hover {
    transform: scale(1.05);
    cursor: pointer;
    /* Scale up on hover */
}

.movie_url h2 {
    margin-bottom: 10;
    overflow-wrap: break-word;
}

.movie_url p {
    margin: 15px;
}

#Movie-rating {
    font-weight: bold;
}

.movie-wrapper {
    display: flex;
    justify-content: center;
}

#movie {
    font-style: italic;
}

