/* SandParticle.css */

.sand-particle {
    position: absolute;
    width: 5px;
    /* Adjust particle size as needed */
    height: 5px;
    /* Adjust particle size as needed */
    background-color: #c2b280;
    /* Sand color */
    border-radius: 50%;
    pointer-events: none;
    animation: fadeOut 1s ease;
    /* CSS animation for fading out */
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}