.App-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 20px;
}

.header-left {
    margin-right: auto;
    /* Pushes to the left */
}

.header-name {
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.header-right {
    margin-left: auto;
    font-size: 20px;
    margin-right: 50px;
}

.header-right nav {
    display: flex;
    align-items: center;
}

.header-right a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    /* Adjust margin for spacing between links */
}

.header-right a:hover {
    color: #3057bc;
    text-decoration: underline;
}